<a href="https://colab.research.google.com/github/garlic3/ai/blob/main/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''의사코드 pseudo code
1. 순차구조
  - 슈퍼마켓에 간다
  - 라면을 산다
  - 집으로 돌아온다
2. 선택구조
  - 슈퍼마켓에 간다
  - 라면이 있나?
  라면을 산다
   ---------------------
   떡을 산다
  - 집으로 돌아온다
3. 반복구조
  - 슈퍼마켓에 간다
  - 라면이 있나? 
  라면을 산다 
  ----------------------
  떡을 산다
  - 거스름돈이 500원 보다 많다
  - 붕어빵을 산다
  - 집으로 돌아온다'''

In [ ]:
# 삼각형의 면적을 계산하는 알고리즘
삼각형의 면적 = 밑변 * 높이 / 2

의사코드로 작성
- 밑변과 높이를 입력
- area <- base * height / 2
- area 출력

In [ ]:

base = 3
height = 2
area = base * height /2
print(area)

3.0

In [ ]:
#1. 두 데이터의 대소를 판단하는 알고리즘
''' 의사코드
- a와 b를 입력한다
- a > b
  a 출력
  a = b
    a와 b는 같다 출력
    --------------
    b 출력
'''

In [ ]:
# function 함수
''' 
함수의 가장 기본형
def 함수명():
  수행

def 함수명(변수):
  수행  
'''

In [ ]:
def print_1():
  print('hi')
print_1()

hi

In [ ]:
def print_2(val):
  print(val)
  print(val)
print_2('hi')

hi
hi

In [ ]:
def print_3(val, n):
  for i in range(n):
    print(val)

print_3('hello', 5)

hello
hello
hello
hello
hello

In [ ]:
# 순서를 기본 매개변수를 뒤에 위치시킨다. 

def print_3(n=2, val):
  for i in range(n):
    print(val)


print_3(4,'hi')

In [ ]:
# 가변 매개 변수
def print_n_times(n, *args):
  for i in range(n):
    for v in args:
      print(v)
    print()

print_n_times(3,'hi','hello','good moring')

hi
hello
good moring

hi
hello
good moring

hi
hello
good moring

In [ ]:
def sum_all(*val):
  sum = 0 
  for i in val:
    sum = sum + i
  print(sum)

sum_all(1,2,3,4,5)
sum_all(1,2,3)
'''
def sum_all(*val):
  print(sum(val))
'''

15
6

In [ ]:
def test(a, b=10, c=100):
  print(a+b+c)

# 기본형태
test(10,20,30)

# 모든 매개변수 지정
test(a=10,b=20,c=30)

# 순서를 섞어서 지정
test(c=30,a=10,b=20)

# 일부만 지정
test(10, c=30)

60
60
60
50

In [ ]:
# return 값이 없는 경우
def return_test():
  print('a위치입니다')
  return
  print('b위치입니다')
def return_test_1():
  return 100
  
return_test()
return_test_1()

a위치입니다

100

In [ ]:
def sum_all(start,end):
  output = 0
  for i in range(start, end+1):
    output = output + i
  return output
print('0에서 100까지의 합:',sum_all(0,100))  
print('0에서 100까지의 합:',sum_all(0,1000))
print('0에서 100까지의 합:', sum_all(50,100))
print('0에서 100까지의 합:', sum_all(500,1000))

0에서 100까지의 합: 5050
0에서 100까지의 합: 500500
0에서 100까지의 합: 3825
0에서 100까지의 합: 375750

In [ ]:
# 재귀함수
def fac(n):
  if n == 0:
    return 1
  else:
    return n*fac(n-1)

print('3!:',fac(3))
print('5!:',fac(5))
print('7!:', fac(7))

3!: 6
5!: 120
7: 5040

In [ ]:
def facto(n):
  output = 1
  for i in range(1, n+1):
    output *= i
  return output

print('3!:',facto(3))
print('5!:',facto(5))
print('7!:', facto(7))

3!: 6
5!: 120
7: 5040

In [ ]:
# 피보나치 수열(토끼의 번식속도, 바이러스 감염 속도)

def fibo(n): 
  if n < 3:
    return 1
  else:
    output = 1
    output = fibo(n-1)+ fibo(n-2)
    return output

print('fibonacci(1):',fibo(1))
print('fibonacci(2):',fibo(2))
print('fibonacci(3):',fibo(3))
print('fibonacci(4):',fibo(4))
print('fibonacci(5):',fibo(5))

fibonacci(1): 1
fibonacci(2): 1
fibonacci(3): 2
fibonacci(4): 3
fibonacci(5): 5
8

In [ ]:
# 튜플과 함수
# 튜플은 함수의 리턴에 많이 사용된다. 함수의 리턴에 튜플을 사용하게 되면 여러개의 값을
# 리턴하고 할당 할수 있기 때문이다. 

def test():
  return 10, 20  # 튜플의 (소)괄호는 생략도 가능하다. 

a, b = test()

print(a)
print(b)

10
20

In [ ]:
def add(a,b):  # 그 인수를 담아서 함수에서 사용되는 매개변수 parameter
  return a+b



a = 3  # 함수로 들어가는 실제 값을 인수 arguments
b = 4
c = add(a,b)
print(c)

# 인수와 매개변수
# 함수와 매서드 - 클래스 안에서 선언한 함수를 매서드라고 부른다. 
# 객체와 인스턴스

7

In [ ]:
# 함수의 종류 4가지
'''
input o output o 함수(제일 많이 사용)
input x output o 함수
input o output x 함수
input x output x 함수
'''

In [ ]:
# 지역변수 local variable 와 전역변수 global variable

In [ ]:
# lambda 
add = lambda a,b:a+b
add(1,2)

3

In [ ]:
# 초기값 설정 매개변수는 항상 끝에 위치한다.

In [ ]:
# 함수의 결과는 언제나 하나이다. (여러개일경우 튜플 한개 )

def add_and_mul(a,b):
  return a+b, a*b

result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)