<a href="https://colab.research.google.com/github/garlic3/ai/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 왕초보를 위한 Python

In [ ]:
#1 파일 크기 계산
r = 800 
#kb/s
t = 110
result = r*t/1000
# kb를 mb 단위로 변환
print(result)

88.0

In [ ]:
#2 제곱
num = int(input('정수입력'))
result = num*num
print(result)

정수입력9
81

In [ ]:
# 입력 숫자 반복
n = int(input('정수입력')) 
# 사용자로부터 정수 입력 받기
for i in range(1, n+1):
# 범위설정 range(시작, 끝-1)이므로 n+1을 해서 n까지 범위 설정  
  print(n)
# 입력받은 값 출력하기  

#  range(시작, 끝)에서 시작 생략해도 되는 점 참고

정수입력3
3
3
3

In [ ]:
#4 제곱표
num = int(input('정수입력'))
count = 1
while num >= count:
  print(count, count*count)
  count += 1

# num >= count 인 이유: 
# count += 1를 실행하고 While 구문을 빠져나가기 때문에 ==를 사용하면 안됨

정수입력3
1 1
2 4
3 9

In [ ]:
#5 얌체공
# 1 60.0
# 2 36.0
# 3 21.599999999999998
# 4 12.959999999999999
# 5 7.775999999999999
# 6 4.6655999999999995
# 7 2.7993599999999996
# 8 1.6796159999999998
# 9 1.0077695999999998
# 10 0.6046617599999998

h = 100
count = 1
while count <= 10:
  ball = 100*(0.6**count)
  print(f'{count}:{round(ball,4)}')
  count += 1

1:60.0
2:36.0
3:21.6
4:12.96
5:7.776
6:4.6656
7:2.7994
8:1.6796
9:1.0078
10:0.6047

In [ ]:
#6 숫자읽기
# 1<= n <= 3

def num_reader(num):
  if num ==  1:
    return '일'
  elif num == 2:
    return '이'
  else:
    return '삼'

num_reader(1)

'일'

In [ ]:
# 7 양수 덧셈

sum = 0
while True:
# input 으로 정수 입력받기
  n = int(input('정수입력'))
# 입력받은 정수 합계 구하기
  sum += n
# 입력 받은 정수가 음수이면 break
  if n < 0:
    print(sum-n)
# sum에서 음수 n의 값을 다시 더해주기
    break

정수입력3
정수입력5
정수입력-1
8

In [ ]:
# 윤년 판별
# 서력 기원 연수가 4, 100, 400으로 나누어 떨어지는 해 윤년
# 서력 기원 연수가 4, 100으로 나누어 떨어지는 해 평년

def year_checker(year):
  four = year % 4
  hun = year % 100
  four_hun = year % 400
  if four == 0 and hun ==0 and four_hun == 0:
    print('윤년') 
  elif four == 0 and hun == 0:
    print('평년')
  elif four == 0:
    print('윤년')

year_checker(2200)
# if 조건문의 순서가 중요한 문제
# 아쉬운점: 어차피 평년과 윤년 2가지 결과밖에 없기때문에 굳이 and를 사용하지 않았어도됨

평년

In [ ]:
# 화학 실험
s_tem = input('안전 온도입력')
min, max = s_tem.split()
# split() 으로 변수에 할당시키기
while True:
  tem = input('온도입력')
  if tem > max:
    print('alert!')
    break
  elif tem == '-999':
    break
  else:
    print('Nothing to report')

안전 온도입력10 20
온도입력15
Nothing to report
온도입력10
Nothing to report
온도입력20
Nothing to report
온도입력0
Nothing to report
온도입력15
Nothing to report
온도입력-999

In [ ]:
# 구구단
n = 2
while n < 10:
  for i in range(1, 10):
    print(f'{n} * {i} = {n*i}')
  n += 1

In [ ]:
# 구구단 함수로 만들어보기
def ggd(dan):
  for i in range(1,10):
    print(f'{dan} * {i} = {dan*i}')

ggd(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# 숫자읽기

def korean_number(num):
  korean = '일이삼사오육칠팔구십'
# 원하는 문자를 문장으로 합치기
  result = korean[num-1]
# 입력하는 정수 -1 은 문장의 인덱스 값 
  return result

korean_number(3)

'삼'

In [ ]:
# 함수
def triple(x):
  return x*3

triple('x')

'xxx'

In [ ]:
# 함수2
from datetime import datetime
today = datetime.today()

def korean_age(age):
  y = today.year 
# 현재 연도 구하기  
  result = y - age + 1
# 나이 = 현재연도 - 출생년 + 1 
  return result

korean_age(1990)

33

In [7]:
# 단리 이자

def simple_interest(p, r, t):
  i = p*r
# 이자 = 원금 * 이율 
  return i*t
# 원하는 기간 만큼의 이자 = 이자 * 기간  

print(simple_interest(10000000, 0.03875, 5))
print(simple_interest(1100000, 0.05, 5/12))

1122916.6666666667

In [8]:
# 단리 이자2
def simple_interest_amount(p,r,t):
  i = p*r
# 이자 = 원금 * 이율  
  r = p + i*t
# 원리금 = 원금 + 이자 * 이자 기간  
  return r

print(simple_interest_amount(10000000, 0.03875, 5))
print(simple_interest_amount(1100000, 0.05, 5/12))

11937500.0
1122916.6666666667

In [11]:
# 복리 이자1
def compound_interest_amount(p,r,t,n):
  result = p*(1 + r / n) ** (n * t) 
# 원하는 지수 만큼 제곱하고 싶을때 **(원하는 지수)로 입력하면 되는점 참고
  return result

print(compound_interest_amount(1500000, 0.043, 6, 4))
print(compound_interest_amount(1500000, 0.043, 6, 1/2))

1938836.8221341055

1921236.0840000005

In [14]:
# 회문 판별
def palindrome(sen):
  if sen[::-1] == sen:
# 만약 회문일 경우 True를 반환    
    return True
  else:
# 회문이 아닐경우 False를 반환    
    return False
print(palindrome('anna'))
print(palindrome('banana'))

True
False

In [23]:
# 회문 판별2
def new_palindrome(sen):
  n_sen = sen.lower()
  if palindrome(n_sen):
    return True
  else:
    return False  
new_palindrome('Anna')

True

In [24]:
# 회문 판별3
def final_palindrome(sen):
  n_sen = sen.lower().replace(' ','')
  if palindrome(n_sen):
    return True
  else:
    return False  
final_palindrome('apple')

False

In [34]:
# 각 자리 숫자 합(리스트이용)
def sumOfDigits(num):
  list = []
# 빈 리스트 만들기  
  for i in str(num):
# 매개변수로 받은 각 자리마다의 숫자를 리스트에 넣기 위해 string으로 변환    
    list.append(int(i))
# 각 숫자를 sum 함수 사용하기 위해 다시 int로 변환    
  return sum(list)  
# sum 함수를 이용하여 합계 구한후 반환

sumOfDigits(47253)

21

In [49]:
# 줄기와 잎그림
stem_leaf = [[], [], []]
score = [0, 0, 2, 4, 7, 7, 9]
score += [11, 11, 13, 18]
score += [20]
score

# def make_stem_leaf(score):
#   for i in score:
#     if i < 10:
#       stem_leaf[0].append(i)
# # 점수가 10점 보다 낮다면 stem_leaf[0] 리스트에 삽입
#     elif i < 20:
#       stem_leaf[1].append(i)
# # 점수가 20점 보다 낮다면 stem_leaf[0] 리스트에 삽입
#     else:
#       stem_leaf[2].append(i)
#   return stem_leaf      
# # 점수가 점 보다 낮다면 stem_leaf[0] 리스트에 삽입
# make_stem_leaf(score)
# print(stem_leaf)


# 계속 조건문을 입력하지 않아도 자동으로 입력되게 만들어보자!
def new_make_stem_leaf(score):
  for i in score:
# 점수를 10으로 나눈 몫 = 리스트의 인덱스 값    
    stem_leaf[i//10].append(i)
  return stem_leaf  
new_make_stem_leaf(score)

[[0, 0, 2, 4, 7, 7, 9], [11, 11, 13, 18], [20]]