<a href="https://colab.research.google.com/github/garlic3/ai/blob/main/day16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Fibonacci

def fibo(n):
  a,b = 1,1
  if n == 1 or n== 2:
    return 1
  for i in range(1,n):
    a,b = b, a + b
    print(a,b) 
  return a

In [ ]:
# 재귀

def fib(n):
  if n == 1 or n == 2:
    return 1
  else:
    return fib(n-1) + fibo(n-2)    #

In [ ]:
# 람다
fib = lambda n:1 if n<=2 else fib(n-1) + fib(n-2)
fib(5)

5

In [ ]:
# 피보나치 수열의 값을 n번째까지 리스트로 전부 출력
def fibo(n):
  li = [1]
  a , b = 1, 1
  for i in range(1,n):
    a, b = b, a+b
    li.append(a)
  return li  

fibo(5)

[1, 1, 2, 3, 5]

In [ ]:
# 2D lists 2차원 리스트
       math  korean
austin  90     80
rick    80     85
andy   100     70

grade = [[90,80],[80,85],[100,70]]

# pandas's dataframe

In [ ]:
li = [[],[],[],[]]
n = 0
for i in range(4):
  name = input('Enter the name')
  age = input('How old are you?')
  size = input('What is your shoe size?')
  li[n].append([name,age,size])
  i += 1
  n += 1
# name = input('Which name?')
print(li)

Enter the namea
How old are you?1
What is your shoe size?1
Enter the name1
How old are you?b
What is your shoe size?2
Enter the name2
How old are you?2
What is your shoe size?c
Enter the name3
How old are you?3
What is your shoe size?3
[[['a', '1', '1']], [['1', 'b', '2']], [['2', '2', 'c']], [['3', '3', '3']]]

In [ ]:
di = {}
n = 0
for i in range(4):
  name = input('Enter the name')
  age = input('How old are you?')
  size = input('What is your shoe size?')
  di[name] = age, size
# name = input('Which name?')
print(di)

In [ ]:
di = {}
n = 0
for i in range(4):
  name = input('Enter the name')
  age = input('How old are you?')
  size = input('What is your shoe size?')
  di[name] = f'age:{age}, size:{size}'
name = input('Which name?')
del di[name]
for i in di:
  print(i, di[i])

In [ ]:
# reading and writing

# write
file = open('Country.txt','w')
file.write('Italy\n')
file.write('German\n')
file.write('Spain\n')
file.close()

In [ ]:
# read
file = open('Country.txt','r')
print(file.read())

Italy
German
Spain

In [ ]:
# add
file = open('Counry.txt','a')
file.write('France\n')
file.close()

In [ ]:
print('1) Create a new file')
print('2) Display the file')
print('3) Add a new item to the file')
print('Make a selection 1,2 or 3')

n = int(input('Enter the number'))
if n == 1:
  s = input('Enter a school subject')
  file = open('Subject.txt', 'w')
  file.write(f'{s}\n')
elif n == 2:
  file = open('Subject.txt', 'r')
  print(file.read())
elif n == 3:
  e = input('Enter a new subject')
  file = open('Subject.txt', 'a')
  file.write(f'{e}\n')
  file = open('Subject.txt', 'r') 
  print(file.read())
else:
  print('Wrong number!')

Enter the number2
math