<a href="https://colab.research.google.com/github/garlic3/ai/blob/main/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
a ={'name':'pey', 'phone':'0123456789', 'birth':'seoul'}

'name' in a

True

In [6]:
'pey' in a

False

In [11]:
#1 
홍길동 = {'국어':'80', '영어':'75', '수학':'55'}

전체 = int(홍길동['국어']) + int(홍길동['영어']) + int(홍길동['수학'])
평균 = 전체 / 3
print(평균)

'''a = 80
b = 75
c = 55
(a+b+c)/3
70.0

70.0

In [15]:
#2
13 // 2 is not 0

True

In [20]:
#3
n = '881120-1068234'

print(n.index('-'))


f = n[:6]
b = n[7:]

print(f)
print(b)

6
881120
1068234

In [21]:
#4
n[7]

'1'

In [25]:
#5
a = "a:b:c:d"
b =a.replace(':','#')
print(b)

a#b#c#d

In [39]:
#6
a = [1, 3, 5, 4, 2] 
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [33]:
#7
a =['Life', 'is', 'too', 'short'] 
b = ' '.join(a)
print(b)

Life is too short

In [40]:
#8
a = (1,2,3)
b = a + (4,)
print(b)

(1, 2, 3, 4)

In [ ]:
#9
'''3번 -> 딕셔너리에서는 인덱스 사용 불가!'''

In [42]:
#10

a = {'A':90, 'B':80, 'C':70}
print(a['B'])

80

In [43]:
#11
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = set(a)
print(b)

{1, 2, 3, 4, 5}

In [44]:
#12
a = b = [1, 2, 3]
a[1] = 4
print(b)
'''[1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.'''

[1, 4, 3]

In [45]:
#1
a = "Life is too short, you need python"

if 'wife' in a:print('wife')
elif 'python' in a and 'you' not in a:print('python')
elif 'shirt' not in a:print('shirt')
elif 'need' in a: print('need')
else: print('none')

shirt

In [10]:
#2 / 다시보기
n = 1
sum = 0
while n < 101:
  if n % 3 == 0: 
    sum = sum + n
  n += 1
print(sum)

1683

In [2]:
#3
n = 0
while n < 6:
  print('*'*n)
  n+=1

*
**
***
****
*****

In [3]:
#4
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
#5
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for i in a:
  sum = sum + i
print(sum/10)

79.0

In [8]:
#6 / 다시보기
numbers = [1, 2, 3, 4, 5]
result = []
''' for n in numbers:
    if n % 2 == 1:
        result.append(n*2)'''

b= [result.append(n*2) for n in numbers if n %2 ==1]
print(b)      

'''result = [n*2 for n in numbers if n%2==1]'''

[None, None, None]