<a href="https://colab.research.google.com/github/garlic3/ai/blob/main/h4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#211

'안녕'
'Hi'

In [ ]:
#212
7
15

In [ ]:
#213
함수를 호출할때 인수를 넣지 않았기 때문에 에러가 발생됨

In [ ]:
#214
함수() 는 인수 a 와 인수 b를 더한 결과를 출력하나 문자열인 안녕과 숫자 3은 더할수 없기때문에 에러가 발생됨

In [ ]:
#215
def print_with_smile(val):
  print(f'{val}:D')

In [ ]:
#216
print_with_smile('안녕하세요')

안녕하세요:D

In [ ]:
#217
def print_upper_price(val):
  price = int(input('현재 가격 입력:'))*0.3
  print(f'상한가:{price}')

In [ ]:
#218
def print_sum(a,b):
  print(a+b)

7

In [ ]:
#219
def print_arithmetic_operation(a,b):
  print(f'{a}+{b} = {a+b}')
  print(f'{a}-{b} = {a-b}')
  print(f'{a}*{b} = {a*b}')
  print(f'{a}/{b} = {a/b}')
print_arithmetic_operation(3,4)

3+4 = 7
3-4 = -1
3*4 = 12
3/4 = 0.75

In [ ]:
#220
def print_max(a,b,c):
  if a > b:
    if a > c:
      max = a
    else:
      max = c
  elif a < b:
    if b > c:
      max = b
    else:
      max = c      
  print(f'가장 큰 수는 {max} 입니다')

가장 큰 수는 9 입니다

In [ ]:
#221
def print_reverse(val):
    print(val[::-1])

olleh

In [ ]:
#222
def print_score(val):
  sum = 0
  for i in val:
    sum = sum + i
  print(sum/len(val))

print_score([1,2,3])

2.0

In [ ]:
#223
def print_even(val):
  for i in val:
    if i % 2 == 0:
      print(i)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
#224
def print_keys(val):
  k = val.keys()
  for i in k:
    print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],"10/27" : [10, 12, 10, 11]}

def print_value_by_key(dict_name, date):
  print(my_dict[date])

print_value_by_key (my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
#226
def print_5xn(string):
  n = int(len(string))//5
  for i in range(n+1):
    print(string[i*5:i*5+5])
print_5xn("아이엠어보이유알어걸kjhkjhkjhkjhkj")

아이엠어보
이유알어걸
kjhkj
hkjhk
jhkj

In [ ]:
#227
def print_mxn(string, n):
  for i in range(n+1):
    print(string[n*i:n*i+n])
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
#228
def calc_monthly_salary(annual_salary):
  salary = int(annual_salary/12)
  print(salary)
calc_monthly_salary(12000000)

1000000

In [ ]:
#229
왼쪽: 100
오른쪽: 200

In [ ]:
#230
왼쪽: 200
오른쪽: 100